name: Build GKI Kernels

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      kernel_version:
        description: "Kernel to build"
        type: choice
        options:
          - a12-5.10
        default: "a12-5.10"
      use_susfs:
        description: "Enable SUSFS"
        type: boolean
        default: true
      use_zeromount:
        description: "Enable ZeroMount"
        type: boolean
        default: true
      use_zram:
        description: "Enable ZRAM with LZ4K"
        type: boolean
        default: true
      use_bbg:
        description: "Enable Baseband Guard"
        type: boolean
        default: true

jobs:
  a12-5_10:
    if: inputs.kernel_version == 'a12-5.10'
    uses: ./.github/workflows/kernel-a12-5.10.yml
    with:
      use_susfs: ${{ inputs.use_susfs }}
      use_zeromount: ${{ inputs.use_zeromount }}
      use_zram: ${{ inputs.use_zram }}
      use_bbg: ${{ inputs.use_bbg }}
