name: "Android 13 - Kernel 5.15"

on:
  workflow_call:
    inputs:
      ksu_variant:
        type: string
        default: "KernelSU-Next"
      add_susfs:
        type: boolean
        default: true
      add_enhanced_susfs:
        type: boolean
        default: true
      add_unicode_filter:
        type: boolean
        default: true
      add_zeromount:
        type: boolean
        default: true
      add_zram:
        type: boolean
        default: true
      add_bbg:
        type: boolean
        default: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - sub_level: "41"
            os_patch_level: "2022-11"
          - sub_level: "74"
            os_patch_level: "2023-01"
          - sub_level: "78"
            os_patch_level: "2023-03"
          - sub_level: "94"
            os_patch_level: "2023-05"
          - sub_level: "104"
            os_patch_level: "2023-07"
          - sub_level: "119"
            os_patch_level: "2023-09"
          - sub_level: "123"
            os_patch_level: "2023-11"
          - sub_level: "137"
            os_patch_level: "2024-01"
          - sub_level: "144"
            os_patch_level: "2024-03"
          - sub_level: "148"
            os_patch_level: "2024-05"
          - sub_level: "153"
            os_patch_level: "2024-09"
          - sub_level: "167"
            os_patch_level: "2024-11"
          - sub_level: "170"
            os_patch_level: "2025-01"
          - sub_level: "178"
            os_patch_level: "2025-03"
          - sub_level: "180"
            os_patch_level: "2025-05"
          - sub_level: "185"
            os_patch_level: "2025-07"
          - sub_level: "189"
            os_patch_level: "2025-09"
          - sub_level: "194"
            os_patch_level: "2025-12"
    uses: ./.github/workflows/gki-build.yml
    with:
      android_version: android13
      kernel_version: "5.15"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      ksu_variant: ${{ inputs.ksu_variant }}
      add_susfs: ${{ inputs.add_susfs }}
      add_enhanced_susfs: ${{ inputs.add_enhanced_susfs }}
      add_unicode_filter: ${{ inputs.add_unicode_filter }}
      add_zeromount: ${{ inputs.add_zeromount }}
      add_zram: ${{ inputs.add_zram }}
      add_bbg: ${{ inputs.add_bbg }}
      device_codename: "generic"
