name: "Android 14 - Kernel 5.15"

permissions:
  contents: write
  actions: write

on:
  workflow_call:
    inputs:
      ksu_variant:
        type: string
        default: "KernelSU-Next"
      add_susfs:
        type: boolean
        default: true
      add_enhanced_susfs:
        type: boolean
        default: true
      add_unicode_filter:
        type: boolean
        default: true
      add_zeromount:
        type: boolean
        default: true
      add_zram:
        type: boolean
        default: true
      add_bbg:
        type: boolean
        default: true
      add_kpm:
        type: boolean
        default: false

jobs:
  download-dependencies:
    uses: ./.github/workflows/cache-dependencies.yml
    permissions:
      contents: read
      actions: write

  build:
    needs: [download-dependencies]
    strategy:
      fail-fast: false
      matrix:
        include:
          - sub_level: "167"
            os_patch_level: "2024-11"
          - sub_level: "170"
            os_patch_level: "2025-01"
          - sub_level: "178"
            os_patch_level: "2025-03"
          - sub_level: "180"
            os_patch_level: "2025-05"
          - sub_level: "185"
            os_patch_level: "2025-07"
          - sub_level: "189"
            os_patch_level: "2025-10"
          - sub_level: "194"
            os_patch_level: "2026-01"
    uses: ./.github/workflows/gki-build.yml
    with:
      android_version: android14
      kernel_version: "5.15"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      ksu_variant: ${{ inputs.ksu_variant }}
      add_susfs: ${{ inputs.add_susfs }}
      add_enhanced_susfs: ${{ inputs.add_enhanced_susfs }}
      add_unicode_filter: ${{ inputs.add_unicode_filter }}
      add_zeromount: ${{ inputs.add_zeromount }}
      add_zram: ${{ inputs.add_zram }}
      add_bbg: ${{ inputs.add_bbg }}
      add_kpm: ${{ inputs.add_kpm }}
      device_codename: "generic"
